<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Test">
        <classes>
            <!--  тестовый класс -->
            <class name="lab.lesson9.tests.MtsByTests1"/>
            <class name="lab.lesson9.tests.MtsByTests2"/>
        </classes>
    </test>
</suite>